<h1>Welcome <%= @user.username %></h1>

<h2>Your Lego Sets</h2>
<br>
<button><a href="/legos/new">New Lego Set</a></button>
<br>
<br>
<% legos = @user.legos.order('name') %>
<% legos.each do |lego| %>
    <div>
        <h3><a href="/legos/<%= lego.id %>/edit" ><%= lego.name %></a></h3>
        <h4>Theme: <%= lego.theme %></h4>
        <h4>No. of Pieces: <%= lego.num_of_pieces %></h4>
        <% if lego.img_link %>
            <img src="<%= lego.img_link %>"
        <% end %>
        <hr>
    </div>
<% end %>