<link rel="stylesheet" type="text/css" href="/stylesheets/user-style-altered.css">
<h1>Welcome to your Lego Collection</h1>
<h4><%= @user.username %></h4>

<h2>Your Lego Sets</h2>
<br>

<br>
<br>
<% legos = @user.legos.order('name') %>
<table class="lego-table">
    <tr>
        <td>
            <a href="/legos/new"><button class="new">New Lego Set</button></a>
        </td>
        <td>
            <a href="/legos/all"><button class="new">View All Legos</button></a>
        </td>
    </tr>
<% legos.each do |lego| %>
    <tr>
        <td>
            <h3><a href="/legos/<%= lego.id %>/edit" ><%= lego.name %></a></h3>
            <h4>Theme: <%= lego.theme.name %></h4>
            <h4>No. of Pieces: <%= lego.num_of_pieces %></h4>
        </td>
        <td>
            <img src="<%= lego.img_link %>"
        </td>

    </tr>
<% end %>
</table>