<form method="POST" action="/legos/<%= @lego.id %>">
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <label for="name">Name: </label>
    <input type="text" name="name" value="<%= @lego.name %>">
    <br>
    <label for="theme">Theme: </label>
    <% Theme.all.each do |theme| %>
        <input type="radio" name="theme" value="<%= theme.name %>" 
            <%if @lego.theme.id == theme.id %>checked<% end %>>
            <%= theme.name %>
    <% end %>
    <br>
    <label for="theme">New Theme: </label>
    <input type="text" name="new_theme">
    <br>
    <label for="num_of_pieces">Number of Piece: </label>
    <input type="text" name="num_of_pieces" value="<%= @lego.num_of_pieces.to_s %>">
    <br>
    <label for="img_link">Image Link: </label>
    <input type="text" name="img_link" value="<%= @lego.img_link %>">
    <br>
    <input type="submit" value="Submit Changes">
</form>
<br>
<form method="POST" action="/legos/<%= @lego.id %>">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete">
</form>