<h1><%= @lego.name %></h1>
<h3><%= @lego.theme.name %></h3>
<h3><%= @lego.num_of_pieces %></h3>
<% if @lego.img_link %>
    <img src="<%= @lego.img_link %>">
<% end %>

<% if @user && (@user.id == @lego.user_id) %>
    <button><a href="/user">Home</a></button>
    <button><a href="/legos/<%= @lego.id %>/edit">Edit</a></button>
<% else %>
    <button><a href="/">Home</a></button>
<% end %>